.login-footer {
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 240px;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.login-footer__content {
    margin: 0 auto 0;
    max-width: 980px;
    padding: 20px 4% 0;
}

.login-footer__social-link > a > svg {
    color: white !important;
    width: 36px;
    height: 36px;
}

.login-footer__social-link > a {
    margin-right: 16px;
}

.login-footer__links {
    list-style: none !important;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.login-footer__links > li {
    flex-basis: 25%;
    margin-bottom: 16px !important;
}

@media (max-width: 800px) {
    .login-footer__links > li {
        flex-basis: 50% !important;
    }
}

.login-footer__links > li > a {
    color: grey;
    text-decoration: none;
    font-size: 13px !important;
}

.login-footer__links > li > a:hover {
    text-decoration: underline;
}

.login-footer__signature {
    font-size: 11px;
    color: grey;
}
