.add-btn {
    background-color: rgba(42, 42, 42, 0.6) !important;
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    color: white !important;
}

.add-btn:hover {
    border-color: white !important;
}
